name: CI-API-Docs

on: [push]

jobs:
  api-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Generate API documentation
        run: |
          pydoc api > api_documentation.txt

