name: CI Pipeline

on: [push]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # CI Build 1: Code Style Check
      - name: Run Flake8
        run: |
          pip install flake8
          flake8 app.py

      # CI Build 2: Security Scan
      - name: Run Bandit
        run: |
          pip install bandit
          bandit app.py

      # CI Build 3: Smoke Test
      - name: Run Smoke Test
        run: python app.py
